.NavBar>.liste{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    gap :60px;
    
}
.NavBar{
    background-color: rgba(166, 166, 166, 0);
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 100px;
    padding:0 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.201);
   

}
.liste>li{
    text-decoration: none;
    color: white;
    font-weight:100;
    font-size: 18px;
    text-align: center;
    padding: 1px 0px;
    cursor: pointer;
   
}
.menuBurger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu{
    position: absolute;
    top: 60px;
    right: 13%;
    background-color: rgba(0, 0, 0, 0.176);
    font-size: 18px;
}
.menu>ul>li{
   
    cursor: pointer;
    width: 200px;
    padding: 13px 0;
    text-align: center;
    transition: transform 200ms ease-in-out;
   
}
.menu>ul>li:hover{
    transform: scale(1.05);
    
}

